@import "MarkdownContent.pcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  @apply text-gray-800;
}

.page-content{
  @apply flex flex-col items-center min-h-full flex-nowrap px-5 pt-16;
}

@media screen(md) {
  .page-content{
    @apply container mx-auto;
  }
}

